<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Website </title>
    <link rel="stylesheet" href="static/css\style.css">
    
</head>
<body>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/course">Courses</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <h1>Courses Raja : The King of Courses </h1>

    <h3> Welcome to my Course</h3>

    <p> This  the very good website you can find in the whole world, to learn some courses that are industry leading  and 
        help you to build your future.
    </p>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "63482907-6c5d-426b-a3fc-bb1593d030ec", // The ID of this integration.
          region: "us-south", // The region your integration is hosted in.
          serviceInstanceID: "aeea6641-15ed-4dc5-9c3b-03aff4d5f68c", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</html>